.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text-2line {
  position: relative;
  font-size: 14px;
  color: black;
  font-family: sans-serif;
  width: 250px; /* Could be anything you like. */
}

.text-red {
  color: #c60f0f;
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.6em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.4em;
  text-align: justify;
}

.shrink {
  transition: 1s ease;
}

.shrink :hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.list-right {
  height: 200px;
}

.list-right-child {
  text-align: center;
  top: 25%;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
